@import url('https://fonts.googleapis.com/css2?family=Asap+Condensed:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Bitcount+Grid+Single:wght@100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Manrope:wght@200..800&family=Oswald:wght@200..700&family=Parkinsans:wght@300..800&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Playwrite+CZ:wght@100..400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100..900;1,100..900&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{

    height: 100vh;
    width: 100%;
    background: linear-gradient( to bottom right, rgb(61, 59, 59), #FFFFFF);
    background-image:no-repeat;
}
.frame{
    margin:auto;
    width: 500px;
    height: 650px;
    background: linear-gradient(to bottom, #0a2841f8, #FFFFFF);
     box-shadow: inset 2px 2px 4px rgba(0, 0, 0, 0.601);
    transform: rotateY(-30deg) rotateX(18deg);
    transform-style: preserve-3d;
    pointer-events: none;
    
    &::before{
        content: "";
        width: 500px;
        height: 650px;
        background: linear-gradient(to bottom, #0a2841f8, #FFFFFF);
        position: absolute;
        top: 0;
        transform: translateZ(-75px);
        
    }
    &::after{
        content: "";
        width:75px;
        height: 100%;
      background: linear-gradient(to bottom, #021524f8, #FFFFFF);
        position: absolute;
        top: 0;
        right: 0;
        transform-origin: right;
        transform: rotateY(-90deg);
         box-shadow: inset 0 0 120px rgba(0, 0, 0, 0.601);
        
    
        
    }
    >.bott{
        width: 100%;
        height: 75px;
          background: linear-gradient(to  left, #0a273df8, #FFFFFF );
        position: absolute;
        bottom: 0;
        transform-origin: bottom;
        transform: rotateX(90deg);
         box-shadow: inset 0 0 120px rgba(0, 0, 0, 0.601);
    }
        
        

    }
.calcu{
    width: 500px;
    height: 650px;
    /* background-color: rgb(244, 241, 241); */
    display: flex;
    justify-content: center;
    padding: 20px 0px;
    position: relative;
    /* transform: rotateY(-30deg) rotateX(18deg); */
    /* padding-right: 50px; */
    border-radius: 9px;
    /* transform-style: preserve-3d; */

    >.start{
        width: 500px;
        height: 110px;
        position: relative;
         font-size: 60px;
        display: flex;
        align-items: center;
        margin-bottom: 100px;
        background-color: #a0a0a0;
        pointer-events: none;
        border: 1px solid #a0a0a0;
        border-radius: 5px;
         box-shadow: inset 2px 2px 4px rgba(0, 0, 0, 0.3);
         transform: rotateY(-25deg) rotateX(5deg);
         transform-style:preserve-3d;
         

         &::before{
            /* content: ""; */
            width: 440px;
            height: 110px;
            position: absolute;
            background-color: rgb(134,134, 130);
            transform: translateZ(-29px);
         }
         &::after{
            /* content: ""; */
            width: 29px;
            height: 100%;
            background-color: rgb(200, 200, 198);
            position: absolute;
            right: 0;
            transform-origin: right;
            transform: rotateY(-90deg);
             box-shadow: inset 2px 2px 4px rgba(0, 0, 0, 0.3);
            

         }
        
    }
    >.number{
        position: absolute;
        top: 115px;
        display: grid;
        /* border: 2px solid black; */
        margin-top: 60px;
        margin-right: 30px;
        grid-template-columns:repeat(5,75px);
        grid-template-rows:38px 75px 75px 75px 75px;
        gap: 20px;
        width: 87%;
        height: 430px;
        transform-style: preserve-3d;
        transform: rotateY(-15deg) rotateX(5deg);
        cursor:pointer;

        >div:nth-child(-n+4){
            background-color: rgb(246, 48, 154);
        
            &::before{
                background-color:rgb(142, 5, 78);
            }
            >.btn{
                background-color:rgb(142, 5, 78) ;
            }
        }
        >div:nth-child(5){
            background-color: rgb(72, 69, 69);
            &::before{
                background-color: rgb(19, 16, 16);
            }
            >.btn{
                background-color:rgb(23, 19, 19) ;
            }

        }
        
        >div:nth-child(-n+5){
            &::after{
                contain: "";
                width: 75px;
                height: 37.5px;
            }
        }
        >.nil{
            font-size:25px;
            grid-row: 4 / 2 span;
            grid-column: 4 / 1 span;
            background-color:rgb(142, 5, 78);
                &::before{
                background-color:rgb(68, 2, 37);
            }
            >.btn{
                background-color:rgb(68, 2, 37) ;
            }
            
        }
        >.press{
           
          
            background-color: rgb(246, 48, 154);
                &::before{
                background-color:rgb(142, 5, 78);
            }
            >.btn{
                background-color:rgb(142, 5, 78) ;
            }
            
        }
        >div{
            &:active{
             transform: translateZ(-150px); 
            /* background-color: #b9bbbf; */
            box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
            }
            display: flex;
            justify-content: center;
            align-items: center;
            pointer-events: auto;
            background-color: rgb(99, 95, 95);
            transition: 1s;
            position: relative;
             box-shadow: inset 2px 2px 4px rgba(0, 0, 0, 0.3);
            transform-style: preserve-3d;
            
            /* margin: 10px; */
                &::after{
                    content: "";
                    width: 75px;
                    height: 75px;
                    background-color: rgb(73, 73, 73);
                    position: absolute;
                    /* border-radius: 25px; */
                    transform: translatez(-55px);
                     box-shadow: inset 2px 2px 4px rgba(0, 0, 0, 0.3);
        }
        &::before{
            content: "";
            width: 55px;
            height: 100%;
            background-color: rgb(53, 52, 52);
            position: absolute;
            right: 0;
            transform-origin: right;
            transform: rotateY(-90deg);
             box-shadow: inset 2px 2px 4px rgba(0, 0, 0, 0.3);
        }
        .btn{
            width:75px ;
            height: 55px;
            background-color:rgb(53, 52, 52);
            position: absolute;
            bottom: 0;
            transform-origin: bottom;
            transform: rotateX(90deg);
             box-shadow: inset 2px 2px 4px rgba(0, 0, 0, 0.3);
        }
        >span{
            font-size:3em;
            font-weight: 700;
            color: white;
            font-family:sans-serif;
            /* line-height: 80px; */
            text-shadow: 
    0 0 1px rgba(62, 61, 61, 0.9), 
    
    0 0 3px rgba(220, 220, 220, 0.8); 

        }
        
    }
}
}

.sec {
  width: 100%;
  min-height: 100vh;
  background: radial-gradient(circle at 20% 30%,rgb(50, 50, 52),rgb(35, 35, 37), #0a0a14);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
  padding: 20px;
  margin-top: 45px;
}


.orb, .orb2 {
  position: absolute;
  width: 80px;
  height: 750px;
  border-radius: 50%;
  filter: blur(120px);
  opacity: 0.25;
  animation: float 10s infinite ease-in-out alternate;
}


.orb {
  background: rgba(100, 150, 255, 0.28);
  top: -10%;
  left: -10%;
}

.orb2 {
  background: rgba(30, 26, 36, 0.25);
  bottom: -10%;
  right: -10%;
  animation-delay: 2s;
}

@keyframes float {
  0% { transform: translate(0,0) scale(1); }
  100% { transform: translate(50px,50px) scale(1.3); }
}


.card {
  width: 100%;
  max-width: 600px;
  height: 400px;
  padding: 25px;
  border-radius: 25px;
  background: rgba(30, 30, 50, 0.55);
  backdrop-filter: blur(20px);
  border: 1px solid rgba(80, 80, 120, 0.4);
  box-shadow:
    0 0 35px rgba(100, 150, 255, 0.25),
    0 0 70px rgba(96, 95, 97, 0.3),
    inset 0 0 20px rgba(255, 255, 255, 0.05);
  text-align: center;
  animation: cardFloat 5s infinite ease-in-out alternate;
  transform-style: preserve-3d;
}

@keyframes cardFloat {
  0% { transform: translateY(-10px) rotateX(4deg); }
  100% { transform: translateY(10px) rotateX(-4deg); }
}

 
figure {
  width: 220px;
  height: 210px;
  overflow: hidden;
  border: 3px solid rgba(140, 160, 255, 0.5);
  margin: 0 auto;
  box-shadow: 0 0 35px rgba(54, 55, 55, 0.5);
  border-radius: 12px;
}

figure img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.card h1 {
  color: #dce2ff;
  font-size: 24px;
  margin-top: 15px;
  text-shadow: 0 0 12px rgba(160, 200, 255, 0.5);
}

.card h3 {
  color: #aab0d9;
  font-size: 16px;
  margin-top: 10px;
}


.socials {
  margin-top: 15px;
  display: flex;
  justify-content: center;
  gap: 16px;
}

.social {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background: rgba(80, 80, 130, 0.2);
  backdrop-filter: blur(12px);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  color: #dce2ff;
  transition: 0.3s;
  box-shadow: 0 0 18px rgba(100,150,255,0.3);
}

.social:hover {
  transform: translateY(-8px) scale(1.15);
  box-shadow: 
    0 0 25px rgba(150,180,255,0.8), 
    inset 0 0 20px rgba(255,255,255,0.2);
}
